@{
  Layout = "_Layout";
}

<h2>Details</h2>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Roles</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var user in Model.Users)
    {
      <tr>
        <td>@user.FirstName</td>
        <td>@user.LastName</td>
        <td>
          @foreach (var role in user.Roles)
          {
            <span>@role</span>
          }
        </td>
      </tr>
    }
  </tbody>
</table>

